.popup__submit {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 2px;
  background-color: #000000;
  color: #fff;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  transition: .6s ease;
  cursor: pointer;
}

.popup__submit:hover {
  background-color: rgba(0, 0, 0, .8);
}

.popup__submit:disabled {
  background-color: #E5E5E5;
}

@media screen and (max-width: 768px) {
  .popup__submit {
    margin: 28px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}